<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body><div class="bg-zinc-900 h-screen p-10">
    <a class="text-zinc-500 hover:underline" href="/">Go to Home </a>
    <h1 class="text-5xl font-bold mt-4 text-white/70"><%= filename %></h1>
    <p class="text-xl text-white/70 font-medium mt-4"><%=content%></p>
</div>
</body>
</html>